@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");


body {
  margin: auto;
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  background: var(--bg-url) no-repeat top center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.light {
  --text-color: #000;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
}

/* container */

#container {
  padding: 24px;
  width: 540px;
  margin-top: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* profile */

#profile {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#profile .avatar {
  width: 112px;
  display: inline;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin: 8px auto 24px auto;
}

/* buttonTheme - botão de tema */

#container #buttonTheme {
  /* background-color: var(--text-color); */
  width: 64px;
  height: 24px;
  padding: 8px;
  margin-bottom: 32px;
  text-decoration: none;
}

/* switch */
#switch #buttonTheme {
  width: 32px;
  height: 32px;
  background: white url(./assets/moon-stars.svg) no-repeat center;
  border-radius: 50%;
  border: 0;
  padding: 0;
}

/* Links - lista */

#links {
  display: block;
  margin: 10px;
}

#links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
}

#links ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-color);
  font: 500 16px;
  border: 1px solid;
  padding: 16px 64px;
  background: var(--surface-color);
  backdrop-filter: blur(4px); /* da a impressão de embassado*/
  -webkit-backdrop-filter: blur(4px);
  border-radius: 8px;
  border: 1px solid var(--stroke-color);
  transition: background 0.3s;
}

#links ul li a:hover {
  border: 1.5px solid var(--text-color);
  background: var(--surface-color-hover);
}

/* socialLinks - redes sociais */
#socialLinks {
  padding: 24px 0;
  display: flex;
  font-size: 24px;
}

#socialLinks a {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;

  transition: background 0.3s;
}

#socialLinks a:hover {
  background: var(--highlight-color);
  padding: 16px;
}

footer {
  padding: 24px 0;
  text-align: center;
}
